## Задание 1

Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек (их число может варьироваться):

In [43]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

b1=sorted(boys)
g1=sorted(girls)

print (b1[0],' & ',g1[0])
print (b1[1],' & ',g1[1])
print (b1[2],' & ',g1[2])
print (b1[3],' & ',g1[3])
print (b1[4],' & ',g1[4])

Alex  &  Emma
Arthur  &  Kate
John  &  Kira
Peter  &  Liza
Richard  &  Trisha

Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! "Познакомить" пары нам поможет функция zip, а в цикле распакуем zip-объект и выведем информацию в виде:

Идеальные пары:  
Alex и Emma  
Arthur и Kate  
John и Kira  
Peter и Liza  
Richard и Trisha

In [45]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

b1=sorted(boys)
g1=sorted(girls)

new=zip (b1,g1)
print(list(new))

[('Alex', 'Emma'), ('Arthur', 'Kate'), ('John', 'Kira'), ('Peter', 'Liza'), ('Richard', 'Trisha')]

## Задание 2

У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за недельный период по странам.
Необходимо написать код, который рассчитает среднюю температуру за неделю в Цельсиях для каждой страны.

In [46]:
countries_temperature = [
 ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]

type(countries_temperature)

Thailand = countries_temperature[0]
Thailand_temp = round((sum(Thailand[1])/len(Thailand[1])-32) * 5/9, 2)
print('AVG C Thai ', Thailand_temp)

Germany = countries_temperature[1]
Germany_temp = round((sum(Germany[1])/len(Germany[1])-32) * 5/9, 2)
print('AVG C Germany ', Germany_temp)


Russia = countries_temperature[2]
Russia_temp = round((sum(Russia[1])/len(Russia[1])-32) * 5/9, 2)
print('AVG C Russia ', Russia_temp)


Poland = countries_temperature[3]
Poland_temp = round((sum(Poland[1])/len(Poland[1])-32) * 5/9, 2)
print('AVG C Poland ', Poland_temp)

AVG C Thai  23.86
AVG C Germany  13.71
AVG C Russia  3.71
AVG C Poland  11.86

In [71]:
countries_temperature = [
 ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]

for country in countries_temperature:
    cel_temp = (sum(country[1]) / len(country[1]) - 32) * 5 / 9
    print(f'{country[0]} - {round(cel_temp, 2)}')
    
for country in countries_temperature:
    average_temp = 0
    for temperature in country[1]:
        average_temp += (temperature - 32) * 5 / 9
    print(round(average_temp/len(country[1]), 2))

Thailand - 23.86
Germany - 13.71
Russia - 3.71
Poland - 11.86
23.86
13.71
3.71
11.86

## Задание 3

Дан поток логов по количеству просмотренных страниц для каждого пользователя. Список отсортирован по ID пользователя. Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя. 
Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей.

In [47]:

stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

sum_view = 0
user_count = 0


for view in stream:
    stream_list = view.split(',')
    view = int(stream_list[2])
    sum_view += view

user_set = set()

for user in stream:
    user_list = user.split(',')
    user_set.add(user_list[1])
#print(user_set)
#print(type(user_set))

user_count = user_count + len(user_set)
#print(user_count)

print('average views = ', sum_view / user_count)

average views =  23.25

## Задание 4

Дана статистика рекламных кампаний по дням. Напишите алгоритм, который по паре дата-кампания ищет значение численного столбца. 
Т. е. для даты '2018-01-01' и 'google' нужно получить число 25. 
Считайте, что все комбинации дата-кампания уникальны.

In [42]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],
]

date = input('date (format YYYY-MM-DD)')
company = input('google, yandex, market ? =')

answer = str()

for match in stats:
    if match[0] == date and match[1] == company:
        answer = (match[2])
    
    #print(match[0] + ' & ' + match[1], 'ads are ', match[2])
print (answer)

date (format YYYY-MM-DD)2018-01-01
google, yandex, market ? =google
25